<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>com.shoppingCart.controller.ShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillExtractorServlet</servlet-name>
        <servlet-class>com.shoppingCart.controller.BillExtractorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>com.shoppingCart.controller.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishSession</servlet-name>
        <servlet-class>com.shoppingCart.controller.FinishSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/Shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillExtractorServlet</servlet-name>
        <url-pattern>/extractBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishSession</servlet-name>
        <url-pattern>/finish</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
